__pycache__/
*.py[cod]
*$py.class
__init__.py

venv/
.venv/
env/
ENV/

.vscode/
.idea/

build/
dist/
*.spec


*.db
*.sqlite
*.sqlite3

*.log

output/
*.xlsx
*.xls
*.xlsm

data/*.csv

tests

*.zip
*.rar
*.7z

.DS_Store
Thumbs.db
desktop.ini

*.spec